/* 992px - Medium devices, desktops */
@media only screen and (max-width: 992px) {
    body {
        font-size: 11px;
    }

    h1 {
        font-size: 13px;
    }
    
    h2 {
        font-size: 14px;
    }
    
    h3 {
        font-size: 13px;
    }
    
    h4 {
        font-size: 13px;
    }
    
    p {
        font-size: 12px;
    }

    .box{
        padding: 90px 100px;
    }

    .exhibiciones-box {
        padding: 0 50px;
    }

    .ex-img-1 {
        width: 90%;
    }
    
    .ex-img-2 {
        width: 70%;
    }
    
    .ex-img-3 {
        width: 450px;
    } 
    
    .ex-img-4 {
        width: 70%;
    }
    
    .ex-img-5 {
        width: 50%;
    }
    
    .ex-img-6 {
        width: 50%;
    }
    
    .ex-img-7 {
        width: 50%;
    }
    
    .ex-img-8 {
        display: inline-block;
        width: 450px;
        margin: 20px 0px;
    }

    .contacto-box {
        margin-right: 130px;
    }

    .nav-img-box {
        display: flex;
        justify-content: center;
    }

    .slider_wrap {
        width: 550px;
        margin-right: 5rem;
    }

    .thumbnail_slider {
        width: 75%;
        margin: 0 auto;
        margin-top: -10px;
    }

    .cv-box .texto-box {
        width: 500px;
    }
}

/* 768px - Small devices, tablets */
@media only screen and (max-width: 768px){
    body {
        font-size: 10px;
    }

    h1 {
        font-size: 12px;
    }
    
    h2 {
        font-size: 13px;
    }
    
    h3 {
        font-size: 12px;
    }
    
    h4 {
        font-size: 12px;
    }
    
    p {
        font-size: 11px;
    }

    header {
        padding: 0px 0px;
        width: 100%;
        height: auto;
        background-color: #ffffff;
        border-bottom: 1px solid #5555552a;
    }

    .nav-img-box {
        display: block;
    }

    nav {
        display: none;
        margin-bottom: 10px ;
    }

    .mobile-nav-burger {
        display: block;
    }

    .logo-me {
        font-size: 16px;
        display: inline-block;
        margin-bottom: 0px;
        margin-top: 0px;
        padding: 30px;
    }

    .main-nav-me {
        display: block;
        width: 100%;
        text-align: left;
        padding: 10px 0px 10px 30px;
        margin: 0px;
        font-size: 14px;
    }

    .dropdown {
        margin-left: 0px;
        width: 100%;
    }

    .dropdown .main-nav-me {
        border: 0px;
        margin-left: -10px;
        margin-top: 0px;
    }

    .hero-box-home {
        width: 75%;
    }

    .box{
        padding: 30px 150px;
        width: 100%;
        margin: 0 auto;
    }

    .footer-contacto,
    .footer-statement {
    margin-top: 30px;
    }

    .ex-img-1 {
        width: 80%;
    }
    
    .ex-img-2 {
        width: 60%;
    }
    
    .ex-img-3 {
        width: 450px;
    } 
    
    .ex-img-4 {
        width: 60%;
    }
    
    .ex-img-5 {
        width: 40%;
    }
    
    .ex-img-6 {
        width: 40%;
    }
    
    .ex-img-7 {
        width: 40%;
    }
    
    .ex-img-8 {
        display: inline-block;
        width: 500px;
        margin: 20px 0px;
    }

    .nav-img-box-obras {
        display: block;
    }

    .slider_wrap {
        width: 80%;
        margin-right: 0rem;
        margin: 0 auto;
        padding: 0px 50px;
    }

    .obras-center-box {
        height: 530px;
        width: auto;
        margin-top: -40px;
    }

    .obras-img-box img {
        max-width: 60%;
    }

    .obras-box-texto {
        margin-top: -1px;
        width: 55%;
        height: auto;
    }

    .haik-img-5 a img {
        width: 50%;
    }

    .haik-img-5 .obras-box-texto {
        width: 40%;
    }

    .obras-textos-10 {
        width: 30%;
    }

    .obras-texto-8 {
        width: 370px;
    }

    .obras-texto-8 p {
    line-height: 130%;
    }

    .poemas-center-box a {
        width: 750px;
    }

    .poemas-center-box-smaller {
        width: 450px;
    }

    .poemas-center-box-smaller .obras-box-texto {
        width: 265px;
    }

    .obras-texto-7 {
        width: 450px;
        margin-top: 10px;
    }

    .reatratos-texto-7{
        width: 420px;
    }

    .obras-texto-7 p,
    .obras-box-texto p {
        line-height: 110%;
    }

    .herbario-img {
        width: 410px;
    }

    .herbario-img .obras-box-texto {
        width: 248px;
    }

    .thumbnail_slider_area  {
        width: 500px;
        margin: 0 auto;
    }

    .thumbnail_slider_area .thumbnail_slider-obras-responsive {
        margin-top: -20px;
    }

    .herbario-img .obras-texto-5 {
        width: 350px;
    }

    .retratos-responsive {
        width: 440px;
    }

    .obras-img-box .retratos-responsive-bigger a {
        width: 700px;
    }

    .obras-img-box .retratos-responsive .obras-box-texto {
        width: 265px;
    }

    .obras-img-box .retratos-responsive .herbario-texto-7-responsive {
        width: 230px;
    }

    .obras-img-box .retratos-responsive .herbario-texto-last-responsive {
        width: 240px;
    }

    .nocturnos-thumb-slider {
        margin-top: 20px;
    }

    .suite-img-texto {
        width: 370px;
    }
}

/* 599px - Extra small devices, phones landscape */
@media only screen and (max-width: 599px) {
    .thumbnail_slider_area  {
        width: 400px;
    }

    .box{
        padding: 30px 100px;
    }    

    .obras-texto-7 {
        width: 350px;
        margin-top: 10px;
    }

    .obras-texto-9 {
        width: 70%;
    }

    .haik-img-5 .obras-box-texto {
        width: 50%;
    }

    .obras-textos-10 {
        width: 40%;
    }

    .obras-center-8 a img {
        width: 70%;
    }

    .poemas-center-box a {
        width: 600px;
        margin-top: 20px;
    }

    .suite-img-texto {
        width: 280px;
        margin-top: 20px;
    }

    .obras-img-box .retratos-responsive-bigger a {
        width: 600px;
        margin-top: 50px;
        text-align: center;
    }

    .exhibiciones-box {
        padding: 0px;
    }

    .cv-box {
        display: inline-block;
        width: 100%;
        margin: 0 auto;
    }

    .foto-contacto img {
        max-width: 80%;
        text-align: center;
    }

    .hero-box-home {
        width: 95%;
    }
}


/* 480px - Extra small devices, phones landscape */
@media only screen and (max-width: 480px) {
    .hero-box-home {
        width: 100%;
        padding: 0 5px;
    }

    .box{
        padding: 20px 50px;
    }

    .cv-box .texto-box {
        margin-left: 0px;
        width: 100%;
    }

    .ex-img-1,
    .ex-img-3,
    .ex-img-4,
    .ex-img-8 {
        width: 100%;
    }

    .ex-img-2,
    .ex-img-5,
    .ex-img-6,
    .ex-img-7 {
        width: 60%;
    } 

    .foto-contacto img {
        max-width: 100%;
        text-align: center;
    }

    .contacto-box a p {
        font-size: 16px;
    }

    .slider_wrap {
        display: none;
    }

    .obras-small-devices {
        display: block;
    }

    .obras-small-devices-box {
        width: 100%;
        padding: 10px;
    }

    .obras-small-devices-box img {
        width: 80%;
        padding: 10px 40px;
    }

    .obras-small-devices-box p {
        width: 80%;
        padding: 0px 65px;
        font-size: 14px;
        line-height: 130%;
    }

    .herbario-sd-box {
        width: 80%;
        padding: 10px 40px;
        margin-top: 10px;
    }

    .herbario-sd-box p {
        padding: 0px 55px;

    }
}

/* 320px - Extra small devices, phones portrait */
@media only screen and (max-width: 320px) {
    .obras-small-devices-box img {
        width: 80%;
        padding: 10px 20px;
    }

    .obras-small-devices-box p {
        width: 80%;
        padding: 0px 45px;
        font-size: 14px;
        line-height: 130%;
    }

    .ex-img-1,
    .ex-img-3,
    .ex-img-4,
    .ex-img-8 {
        width: 100%;
    }

    .ex-img-2,
    .ex-img-5,
    .ex-img-6,
    .ex-img-7 {
        width: 80%;
    } 
}