html,
body {
    color:#555;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-rendering: optimizeLegibility;
    line-height: 130%;
    height: 100%;
    overflow-x: hidden; 
}

.nav-img-box {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

header nav a {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #555;
}

a:hover {
    text-decoration: none;
    color: #84817a;
}

.main-nav-me a {
    text-decoration: none;
    color: #555;
}

.main-nav-me a:hover {
    text-decoration: none;
    color: #555;
    font-weight: 400;
}

span {
    font-weight: 700;
}

.main-nav-me span {
    font-weight: 400;
}

h1 {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 20px;
}

h2 {
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 10px;
}

h3 {
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 5px;
    font-size: 14px;
}

h4 {
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 14px;
}

p {
    font-size: 14px;
}

/* ------------HOME------------ */
header {
    padding: 0px 60px;
    width: 320px;
    position: sticky;
    top: 15px;
    height: 100vh;
}

.logo-me {
    font-family: 'Cinzel', 'Arial', sans-serif;
    font-size: 17px;
    display: inline-block;
    margin-bottom: 25px;
    color: #84817a;
    width: auto;
    margin-top: 120px;
}

.main-nav-me {
    margin: 20px 0;
}

.main-nav-me a{
    font-size: 14px;
}

.dropdown {
    display: none;
    z-index: 97;
    margin-left: 30px;
}

.dropdown-1,
.dropdown-2 {
    display: none;
}

.drop-active {
    display: block;
}

.hero-box-home {
    width: 50%;
    margin: 0 auto;
}

.hero-box-home img {
    width: 100%;
}

.carousel-me {
    display: flex;
    align-items: center;
}

.nav-active {
    text-decoration: underline;
    font-weight: 400;
}
/* ------------CV------------ */
.box{
    padding: 0px 250px;
    margin-top: 90px;
}

.texto-box {
    margin-bottom: 20px;
    text-align: justify;
}

.texto-box .texto-box {
    margin-bottom: 15px;
}

.texto-box p {
    margin-bottom: 10px;
    line-height: 140%;

}

.cv-box {
    width: 500px;
}

.cv-box p {
    font-size: 13px;
}

.cv-box .texto-box {
    margin-left: -50px;
}

.cv-box .texto-box .texto-box-2 {
    margin-left: 0px;
}

/* ------------OBRAS------------ */
.slider_wrap {
    width: 600px;
    margin-right: 15rem;
    /* padding-top: 5px; */
    /* padding-bottom: 20px; */
    /* height: 100vh; */
}

.obras-img-box img {
    max-width: 70%;
    margin: 0 auto;
}

.obras-center-box {
    width: 400px;
    height: 570px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 110%;
    margin: 0 auto;
}

.obras-center-box img {
    margin-bottom: 5px;
}

.obras-box-texto {
    margin-top: -1px;
    width: 270px;
    height: auto;
}

.obras-center-box p {
    font-size: 12px;
}

.thumbnail_slider img {
    max-width: 60px;
    max-height: 80px;
    cursor: pointer;
    
}

.thumbnail_slider-obras {
    margin-top: -8px;
}

.thumbnail_slider img {
    width: 100%;
}

.suite-img {
    width: 100%;
}


.suite-img a img {
    width: 100%;
}

.suite-img-texto {
    width: 400px;
}

.obras-center-5 a {
    width: 600px;
}

.obras-center-13 a img {
    width: 550px;
}

.obras-texto-13 {
    width: 280px;
}

.obras-center-5 img {
    width: 100%;
}

.obras-texto-5 {
    width: 400px;
}

.obras-center-7 a {
    width: 600px;
}

.obras-center-7 a img {
    width: 100%;
}

.obras-texto-7 {
    width: 400px;
    margin-top: 15px;
}

.obras-center-8 a {
    width: 650px;
}

.obras-center-8 a img {
    width: 100%;
}

.obras-texto-8 {
    width: 400px;
    margin-top: 15px;
}

.obras-center-9 a {
    width: 600px;
}

.obras-center-9 a img {
    width: 100%;
}

.obras-texto-9 {
    width: 400px;
    margin-top: -5px;
}

.obras-center-10 a {
    width: 350px;
}

.obras-textos-10 {
    width: 220px;
    margin-top: -5px;
}

/* ------------EXHIBICIONES------------ */

.exhibiciones-box .texto-box img {
    display: block;
}

.exhibiciones-box .texto-box {
    margin-bottom: 50px;
}

.ex-img-1 {
    width: 90%;
    margin-bottom: 30px;
    margin-top: 20px;
}

.ex-img-2 {
    width: 50%;
    margin-bottom: 30px;
}

.ex-img-3 {
    width: 105%;
    margin-top: 15px;
    margin-bottom: 40px;
} 

.ex-img-4 {
    width: 70%;
    margin-bottom: 20px;
}

.ex-img-5 {
    width: 80%;
    margin-bottom: 20px;
    margin-top: 30px;
}

.ex-img-6 {
    width: 60%;
    margin-bottom: 20px;
}

.ex-img-7 {
    width: 70%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.ex-img-8 {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.p-right {
    text-align: right;
}

/* ------------CONTACTO------------ */
.contacto-box {
    margin: 20px auto;
    text-align: center;
    margin-top: 60px;
}

.contacto-box i {
    font-size: 30px;
    padding: 40px 20px;
    color: #84817a;
}

.contacto-box a p {
    display: inline-block;
    margin-top: 150px;
    text-align: center;
    text-decoration: underline;
}

/* ----------- FOOTER ----------- */
footer {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.footer-contacto,
.footer-statement {
    margin-top: -30px;
}






